<div class="panel panel-primary" style="margin-top:48px;">
    <div class="panel-heading">
        <h3 class="panel-title">文件列表</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <button type="button" class="btn btn-success" v-on:click="upload"><span class="glyphicon glyphicon-upload"></span>上传</button>
            </div>
            <div class="form-group">
                <label class="control-label">选择需要展示的字段:</label>
            </div>
            <div class="checkbox" v-for="(k,v) in dataHead">
                <label>
                    <input type="checkbox" value="{{k}}" v-model="dataHeadShow[k]">{{v}}
                </label>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th v-for="(k,v) in dataHead" v-show="dataHeadShow[k]">{{v}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="data in datas">
                <!-- <td v-for="(k, v) in data">{{v}}</td> -->
                <td v-show="dataHeadShow.id">{{data.id}}</td>
                <td v-show="dataHeadShow.mac">{{data.mac}}</td>
                <td v-show="dataHeadShow.Mode">{{data.Mode}}</td>
                <td v-show="dataHeadShow.RSSI">{{data.RSSI}}</td>
                <td v-show="dataHeadShow.Channel">{{data.Channel}}</td>
                <td v-show="dataHeadShow.PktType">{{data.PktType}}</td>
                <td v-show="dataHeadShow.FMgt">{{data.FMgt}}</td>
                <td v-show="dataHeadShow.Fctl">{{data.Fctl}}</td>
                <td v-show="dataHeadShow.Fdata">{{data.Fdata}}</td>
                <td v-show="dataHeadShow.FMagic">{{data.FMagic}}</td>
                <td v-show="dataHeadShow.stime">{{data.stime | format}}</td>
                <td v-show="dataHeadShow.etime">{{data.etime | format}}</td>
                <td v-show="dataHeadShow.slocal">{{data.slocal | format}}</td>
                <td v-show="dataHeadShow.elocal">{{data.elocal | format}}</td>
                <td v-show="dataHeadShow.dmac">{{data.dmac}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">文件上传</h4>
            </div>
            <div class="modal-body">
                <input type="file" name="files" multiple id="fileupload">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width:progres}">
                        {{progres}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
